{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'budget/style.css' %}">
    <meta charset="UTF-8">
    <title>Family Budget App</title>
</head>
<body>
    {% if user.is_authenticated and request.path != '/signup/' and request.path != '/login/' %}
    <p class='login-status'>Logged in as {{ user.first_name }} -  <a href="{% url 'logout' %}">Logout</a></p>
    <h1> {{user.familymember.household}} Budget </h1>
    <hr>
    <div class="main-links">
        <a href="{% url 'dashboard' %}" class='link'>Home</a>
        <a href="{% url 'transaction_create' %}" class='link'>New Transaction</a>
        <a href="{% url 'transaction_list' %}" class='link'>Transactions</a>
        <a href="{% url 'category_list' %}" class='link'>Categories</a>
        <a href="{% url 'store_list' %}" class='link'>Stores</a>
    </div>
    <hr>
    {% endif %}

    

    {% block content %}{% endblock %}
</body>
</html>
