{% extends "budget/base.html" %}

{% block content %}

<div class="category-header">
    <a href="{% url 'category_create' %}">+ Add Category</a>
    <h2>Income Categories</h2>
</div>
<div class='table-wrapper'>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Fixed</th>
                <th>Necessity</th>
                <th>Active</th>
                <th>Budgeted Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in income_categories %}
            <tr>
                <td>{{ item.category.name }}</td>
                <td>{{ item.category.fixed|yesno:"Yes,No" }}</td>
                <td>{{ item.category.necessity|yesno:"Yes,No" }}</td>
                <td>{{ item.category.is_active|yesno:"Yes,No" }}</td>
                <td>{{ item.budget|default:"-" }}</td>
                <td><a href="{% url 'category_update' item.category.pk %}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="category-header">
    <h2>Expense Categories</h2>
</div>
<div class='table-wrapper'>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Fixed</th>
                <th>Necessity</th>
                <th>Active</th>
                <th>Budgeted Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in expense_categories %}
            <tr>
                <td>{{ item.category.name }}</td>
                <td>{{ item.category.fixed|yesno:"Yes,No" }}</td>
                <td>{{ item.category.necessity|yesno:"Yes,No" }}</td>
                <td>{{ item.category.is_active|yesno:"Yes,No" }}</td>
                <td>{{ item.budget|default:"-" }}</td>
                <td><a href="{% url 'category_update' item.category.pk %}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
