.login-status{
    display: flex;
    justify-content: flex-end
}

.main-links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.link{
    display: flex;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer
}

.table-wrapper {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    flex-shrink:  0;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
}

.table-wrapper thead th {
    text-align: left;
    font-weight: 600;
    padding: 0.75rem;
    background-color: #f8f9fb;
    border-bottom: 2px solid #e0e3e8;
}

.table-wrapper td {
    padding: 0.75rem;
    border-bottom: 1px solid #eceff3;
  }
  
h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  
.chart-wrapper canvas {
    width: 100%;
    height: auto;
  }
  
.flex-form {
    display: flex;
    justify-content: center;
    align-items: center;
}